<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="{% static 'js/home.js' %}"></script>
</head>
<body>
    <div class="home-container">
        <h1 id="welcomeMessage">Hola, Usuario</h1>
        <button id="logoutButton">Cerrar sesión</button>
    </div>
</body>
</html>
